<h1>Fastboot / Glimmer rehydration SafeString</h1>

<p>
    This example shows how SafeString values don't get properly updated in the DOM during rehydration after Fastboot SSR.
    It keeps the fastbooted value alive, and doesn't update when JavaScript takes over with a different value passed to the <code>htmlSafe()</code>.
</p>

<p><code>this.value</code>: {{this.value}}</p>
<p><code>htmlSafe(this.value)</code>: {{this.safeValue}}</p>
<p><code>htmlSafe(this.value).string</code>: {{this.safeValue.string}}</p>

<button {{on "click" this.generateNewValue}}>Generate new value</button>

<style>
    span {
        font-family: Verdana;
    }

    span.fastboot-value {
        color: grey;
    }

    span.clientside-value {
        color: green;
    }
</style>